/* ================== GLOBAL ======================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    color: #2C3E50;
    line-height: 1.5;
}

h1{
    font-weight: bold;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    color: #A43F3B;
}

/* =================== HEADER ====================== */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7E9D7;
    height: 60px;
    width: 100%;
    margin-bottom: 120px;
}

.header-container img {
    height: 60px;
    padding-left: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 6.25rem;
}

nav ul li a {
    text-decoration: none;
    color: #2C3E50;
    font-size: 18px;
}

.signup-button {
    margin-right: 120px;
    padding: 10px 20px;
    background-color: #A43F3B;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

.connect-button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #2C3E50;
    border: solid 2px #A43F3B;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

/* ================== FOOTER ======================= */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F7E9D7;
    color: #2C3E50;
    text-align: center;
    padding: 20px 0;
    gap: 100px;
}

.legal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

/* ===================== HERO ====================== */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #A43F3B;
}

.hero-menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #A43F3B;
    background-color: #F7E9D7;
}

.hero-detail-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #A43F3B;
    background-color: #F7E9D7;
    padding: 60px 0;
    margin-bottom: 90px;
}

.hero-menus h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

.hero-menus p {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

.hero button{
    padding: 10px 20px;
    background-color: #A43F3B;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 76px;
    width: 600px;
    font-size: 32px;
    margin-bottom: 180px;
}

/* =================  ACCUEIL ================ */

/* -------- Histoire -------- */

.histoire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 100px;
    background-color: #F7E9D7;
}

.histoire img {
    height: 400px;
    border-radius: 20px;
}

.histoire-text {
    max-width: 600px;
    text-align: justify;
    font-size: 16px;
    color: #2C3E50;
}

.histoire-text h2 {
    font-size: 36px;
    color: #A43F3B;
    margin: 30px 0;
    text-align: center;
}


/* -------- Expérience -------- */

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: #F7E9D7;
}

.experience h2 {
    font-size: 32px;
    color: #A43F3B;
    margin-top: 30px;
}

.experience-photos {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    height: 190px;
}

.experience-icons {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 40px;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #2C3E50;
    padding-bottom: 20px;
}


/* -------- Avis -------- */

.avis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: #F7E9D7;
}

.avis-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 10px;
}

.avis h2 {
    font-size: 32px;
    color: #A43F3B;
    margin-top: 30px;
}

.avis-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;        
    margin-top: 50px;
}

.avis-stars {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.avis-card {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    margin-bottom: 60px;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.3);
}

.avis-card p {
    font-size: 14px;
    color: #2C3E50;
    margin-top: 15px;
    text-align: justify;
}


/* ================= PAGE MENUS =============== */

/* -------- Filtres -------- */

.filtres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
    margin-top: 80px;
    background-color: #F7E9D7;
    padding: 20px 0;
}

.filtre-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 40px;
    font-size: 16px;
    background-color: white;
    border-radius: 30px;
}

.filtre-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-right: 8px;
    border-radius: 10px;
 }

 .filtre-appliquer {
    margin-right: 0;
    padding: 10px 20px;
    background-color: #A43F3B;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
    width: 150px;
 }

/* -------- Liste des menus -------- */

.menus-list {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    justify-content: center;
    gap: 40px;
    background-color: #F7E9D7;
    padding: 40px 0;
    margin-bottom: 60px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.3);
    max-width: 380px;
    margin: auto;

}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.menu-item h2 {
    text-align: center;
    font-size: 24px;
    color: #A43F3B;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 14px;
    color: #2C3E50;
    text-align: center;
    margin-bottom: 15px;
}

.menu-item button {
    margin-top: auto;
    background-color: #A43F3B;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    align-self: center;
}

/* ================= PAGE DETAIL MENU =============== */

.detail-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7E9D7;
    gap: 60px;
    padding: 40px 20px;
}

.menu-present {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.menu-image img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.menu-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
    text-align: left;
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.15);
}

.menu-info p {
    color: #2C3E50;
}

.menu-info button {
    margin:auto;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: #A43F3B;
    color: white;
    border: none;
    border-radius: 30px;
    align-self: center;
}

.plats-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.plats-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.15);
}

.plats-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* -------- Description Menu -------- */

.menu-description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin: 100px 0;
    background-color: #F7E9D7;
}

.description-menu {
    max-width: 800px;
    font-size: 16px;
    color: #2C3E50;
    text-align: justify;
    line-height: 1.6;
}

.description-menu h2 {
    font-size: 32px;
    color: #A43F3B;
    margin-bottom: 20px;
    text-align: center;
}

.description-menu p {
    margin-bottom: 15px;
}

/* -------- Conditions -------- */

.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 40px 40px;
}

.conditions-wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    background-color: #F7E9D7;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.3);
}

.conditions h2 {
    font-size: 32px;
    color: #A43F3B;
    margin-bottom: 20px;
    text-align: center;
}

/* -------- Bouton Commander -------- */

.btn-commande {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 60px;
    background-color: #A43F3B;
    color: white;
    border: none;
    border-radius: 30px;
    align-self: center;
    margin-bottom: 80px;
    font-size: 20px;
}


/* ================= PAGE LOGIN =============== */

.login-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7E9D7;
    margin-bottom: 80px;
}

.login-hero p {
    font-size: 20px;
    margin-bottom: 40px;
    color: #2C3E50;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7E9D7;
    padding: 60px 20px;
    max-width: 600px;
    margin: 0 auto 80px auto;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.3);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
}

.login-container button {
    margin-top: 40px;
    width: 200px;
    height: 50px;
}

.auth-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth-links a {
    color: #A43F3B;
    text-decoration: none;
    font-size: 14px;
}


/* ================= PAGE CA =============== */

.ca-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7E9D7;
    padding: 60px 20px;
    margin-bottom: 80px;
}

.ca-hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #A43F3B;
    margin-bottom: 20px;
}

.ca-hero p {
    font-size: 20px;
    color: #2C3E50;
}


/* -------- Filtres Dates -------- */

.ca-filtres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F7E9D7;
    padding: 40px 20px;
    margin-bottom: 60px;
}

.ca-filter-form {
    display: flex;
    gap: 40px;
    align-items: flex-end;
}

.ca-filter-form label {
    font-size: 16px;
    font-weight: bold;
    color: #2C3E50;
    margin-bottom: 8px;
}

.ca-filter-form input {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #2C3E50;
}

.ca-filter-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
    font-size: 16px;
    margin:auto;
}


/* -------- Résumé CA -------- */

.ca-summary {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #F7E9D7;
    padding: 40px 20px;
    margin-bottom: 80px;
}

.ca-card {
    background-color: #fff;
    padding: 30px;
    width: 260px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.2);
}

.ca-card h2 {
    font-size: 22px;
    color: #A43F3B;
    margin-bottom: 15px;
}

.ca-card .ca-value {
    font-size: 28px;
    font-weight: bold;
    color: #2C3E50;
}


/* -------- Tableau CA -------- */

.ca-table-section {
    max-width: 1000px;
    margin: auto;
    background-color: #F7E9D7;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.2);
    margin-bottom: 80px;
}

.ca-table-section h2 {
    text-align: center;
    font-size: 28px;
    color: #A43F3B;
    margin-bottom: 25px;
}

.ca-table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
}

.ca-table th {
    background-color: #A43F3B;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

.ca-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    color: #2C3E50;
}

.ca-table tr:nth-child(even) {
    background-color: #f8f8f8;
}


/* -------- Graphique CA -------- */

.ca-graph {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
    margin-bottom: 100px;
}

.graph-card {
    background-color: #F7E9D7;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.2);
}

.graph-card h2 {
    text-align: center;
    font-size: 28px;
    color: #A43F3B;
    margin-bottom: 30px;
}

/* ================= PAGE DETAIL COMMANDE =============== */


.order-detail-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7E9D7;
    padding: 60px 20px;
    margin-bottom: 80px;
}

.order-detail-hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #A43F3B;
    margin-bottom: 20px;
}

.order-detail-hero p {
    font-size: 20px;
    color: #2C3E50;
    text-align: center;
}


/* -------- Détail Commande -------- */

.order-detail-container {
    max-width: 800px;
    margin: 0 auto 100px auto;
    padding: 0 20px;
}

.order-card {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(44, 62, 80, 0.20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.order-card h2 {
    font-size: 28px;
    color: #A43F3B;
    margin-bottom: 10px;
}

.order-card h3 {
    font-size: 20px;
    color: #A43F3B;
    margin-top: 20px;
}

.order-card p {
    font-size: 16px;
    color: #2C3E50;
}


/* -------- Statut Commande -------- */

.status-en-cours {
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #F7E9D7;
    color: #A43F3B;
}


/* -------- Actions Commande -------- */

.order-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

/* -------- Bouton Retour aux Commandes -------- */

.btn-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid #A43F3B;
    color: #2C3E50;
    text-decoration: none;
    font-size: 16px;
    width: auto;
}

/* -------- Bouton Laisser un avis -------- */
.order-actions .btn-avis {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 24px;
    font-size: 16px;
    text-decoration: none;
    background-color: #A43F3B;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}




